{% extends 'base.html'%} {%block content%}
<div class="bg">
  <section class="smb-hero-section">
    <div class="smb-hero-text">
      <div>
        <h3>BLOG <span> ALL DAY EVERYDAY</span></h3>
        <p>
          Welcome to your personal favourite blog where you are free to say
          anything and everything.<br />
          Anything you need we have it right here
        </p>
        <div class="back-blog"></div>
        <!-- <div class="container">
        {%for blog in Blogs%}
        <span
          >blog:</span>
          <p>{{blog.blog}}</p>
        <p>{{blog.user_id}}</p>
        {%endfor%}
        </div> -->
      </div>
    </div>
  </section>
</div>
{%endblock%}
