{% extends 'base.html'%} {%block content%}
<nav class="navbar navbar-expand-lg navbar-light bg-primary">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="{{url_for("main.index")}}">Home <span class="sr-only">(current)</span></a>

      {%if current_user.is_authenticated %}
      <a class="nav-item nav-link " href="{{ url_for('auth.logout') }}">LOGOUT</a>
      {%else%}
     
      <a class="nav-item nav-link " href="{{url_for("auth.login")}}">LOGIN</a>
      {%endif%}
    </div>
  </div>
</nav>


<div class="bg">
  <section class="smb-hero-section">
    <div class="smb-hero-text">
      <div>
        <h3>BLOG <span> ALL DAY EVERYDAY</span></h3>
        <p>
          Welcome to your personal favourite blog where you are free to say
          anything and everything.<br />
          Anything you need we have it right here
        </p>
        <div class="back-blog"></div>
        <div class="display">
        {%for blog in blogs%}
        <span
          >blog:</span>
          <p>{{blog.blog}}</p>
        <p>{{blog.user_id}}</p>
        <p>{{blog.comments}}</p>
        <p>Add a comment:<link></p>
        {%endfor%}
        </div>
        
      </div>
    </div>
  </section>
</div>
{%endblock%}
